fint:
  client:
    username:
    password:
    base-url: https://beta.felleskomponent.no
    registration-id: fint
spring:
  security:
    oauth2:
      client:
        provider:
          fint-idp:
            token-uri: https://idp.felleskomponent.no/nidp/oauth/nam/token?resourceServer=fint-api
        registration:
          fint:
            authorization-grant-type: password
            client-id: ${fint.client.client-id}
            client-secret: ${fint.client.client-secret}
            provider: fint-idp
            scope: fint-client